body {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	background: #17171a;
	color: #fff;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a, a:visited {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
	color: #fff;
}

a img {
	border: none;
	background-color: none;
}

.container_12 {
}

#header {
	color: #fff;
	margin-bottom: 20px;
	position: relative;
}

#header h1 {
	background-color: #000;
	display: inline-block;
	padding: 10px 15px;
	
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

#header h1 a {
	color: #fff;
}

#subhead {
	color: #888;
	padding-top: 20px;
	padding-left: 10px;
	margin-left: -20px;
	padding-right: 20px;
	border-bottom: 1px solid #2a2a2a;
}

#subhead h5 {
	font-family: georgia, serif;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: normal;
	letter-spacing: 0.05em;
}

#pages { 
	padding-top: 3px;
	margin-right: -20px;
	float: right;
	text-align: right;
}

#pages a {
	display: inline-block;
	padding: 1px 8px;
	margin-left: 10px;
	background: rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 25px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#pages a:hover {
	text-decoration: none;
	background: rgba(47, 47, 59, 0.75);
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	
}

#nav {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	right: 50px;
	background: rgba(0, 0, 64, 0.95);
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	
	-webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
}

#index_hero {
	position: relative;
	padding: 10px 10px 10px;
	margin-bottom: 20px;
	background-color: rgba(36, 36, 36, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

#index_hero .grid_12 {
	position: relative;
}

#we_can_be_heroes ul, #we_can_be_heroes li {
	height: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#we_can_be_heroes li {
	position: absolute;
	left: 10px;
	top: 0px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}

#we_can_be_heroes li .details {
	position: absolute;
	left: -2px;
	bottom: 110px;
	padding: 12px;
	padding-right: 25px;
/*	background: rgba(0, 0, 0, 0.75);*/
	background: rgba(255, 255, 255, 0.95);
	color: #000;
	
/*	-webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);*/
}

#we_can_be_heroes .details h2, #we_can_be_heroes .details p {
	margin-bottom: 0;
}
#we_can_be_heroes .details h2 {
	display: inline-block;
	color: #000;
}

#images, #image_view, #projects {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#images li, #image_view li {
	margin: 0;
	padding: 0;
}

#images li {
/*	float: left;*/
	margin-bottom: 15px;
	margin-right: 10px;
}

#image_view {
	position: relative;
	height: 500px;
}

#image_view li {
	position: absolute;
	top: 0;
	left: 0;

}

#image_view li img {
	width: 100%;
}

#projects li {
}

#projects .project {
	position: relative;
	background: #222;
	background: -moz-linear-gradient(top, #202020 0%, #282828 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#282828)); /* webkit */
	padding: 10px;
	margin-bottom: 30px;
/*	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
*/
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	
	-webkit-border-radius: 2px;
}

#projects .project:after {
z-index: -1;
position: absolute;
background: transparent;
width: 70%;
height: 55%;
content: '';
right: 15px;
bottom: 12px;
-webkit-transform: skew(15deg) rotate(5deg);
-webkit-box-shadow: 5px 11px 6px rgba(0, 0, 0, 0.25);
-moz-transform: skew(15deg) rotate(5deg);
-moz-box-shadow: 6px 12px 8px rgba(0, 0, 0, 0.25); 
}

#projects .project:before {
z-index: -2;
position: absolute;
background: transparent;
width: 70%;
height: 55%;
content: '';
left: 15px;
bottom: 12px;
-webkit-transform: skew(-15deg) rotate(-5deg);
-webkit-box-shadow: -5px 11px 6px rgba(0, 0, 0, 0.25);
-moz-transform: skew(-15deg) rotate(-5deg);
-moz-box-shadow: -6px 12px 8px rgba(0, 0, 0, 0.25); 
}

#projects .project img {
	width: 278px;
	border: 1px solid #1d1d1d;
}

#projects .project .project_info {
	position: relative;
}

#projects .project .project_info h3 {
	margin-bottom: 0;
}

#projects .project .project_info .client,
#projects .project .project_info .category {
	color: #888;
	font-size: 12px;
}

#projects .project .project_info .category {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0;
} 

.image_placeholder {
	height: 70px;
	width: 70px;
	background: rgba(0, 0, 0, 0.25);
}

li.image {
	position: relative;
}

li.image p {
	position: absolute;
	bottom: 10px;
	left: 5px;
	width: 270px;
	margin: 0;
	padding:10px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-size: 125%;
	font-weight: bold;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#project_info {
/*	position: fixed;
	top: 90px;
	width: 300px;
*/
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 25px;
}

#project_images {
	margin-left: 330px;
	margin-bottom: 75px;
}

#project_images ul, #project_images li {
	padding: 0;
	margin: 0;
}

#project_images li {
	margin-bottom: 30px;
/*	border: 4px solid #fff;*/
}

#project_images img {
	
}

#project_info_overlay {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	height: 300px;
}

#project_info_overlay_description {
	width: 25%;
	position: absolute;
	top: -5px;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
	padding: 10px 15px;
	height: 290px;
	-webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.7);
}

#worked {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#category {
	position: absolute;
	right: 0px;
	bottom: 0px;
}


/* Admin */
.dashboard_model {
	background: rgba(0, 0, 0, 0.25);
	padding: 5px 10px 10px;
	margin-bottom: 20px;
	
	-webkit-border-radius: 5px;
}

.dashboard_model ul, .dashboard_model li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dashboard_model li {
	padding: 7px 5px;
}

.dashboard_model li:nth-child(odd) {
	background: #161d28;
}

.dashboard_placeholder {
	background: #000 !important;
	height: 50px;
}
