body {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	background: #222;
	color: #fff;
}

a img {
	border: none;
	background-color: none;
}

.container_12 {
}

#header {
	color: #fff;
	background: #000;
	margin-bottom: 20px;
}

#header a {
	color: #fff;
}

#nav {
	text-align: right;
}

#index_hero {
	padding: 0 10px 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
}

#images, #projects {
	list-style: none;
	margin: 0;
	padding: 0;
}

#images li, #projects li {
}
#projects li {
}

#images img, #projects img {
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.image_placeholder {
	height: 200px;
	width: 300px;
	background: #f0f0f0;
}

li.image {
	position: relative;
}

li.image p {
	position: absolute;
	bottom: 10px;
	left: 5px;
	width: 270px;
	margin: 0;
	padding:10px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-size: 125%;
	font-weight: bold;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
