html { background: #ddd;}
body {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	color: #333;
	letter-spacing: 0.06em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
	font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", helvetica, arial, sans-serif;
}

a, a:visited {
/*	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);*/
	font-weight: bold;
	color: #fff;
}

a img {
	border: none;
	background-color: none;
}

.container_12 {
}

#header {
	color: #fff;
	margin-bottom: 20px;
	position: relative;
}

#header h1 {
	background-color: #222;
	padding: 10px 10px;
	margin-right: 20px;
	float: left;
	
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

#header h1 a {
	color: #00deff;
}

#subhead {
	color: #555;
	padding-top: 21px;
	width: 950px;
/*	margin-left: -20px;*/
/*	padding-right: 20px;*/
/*	border-bottom: 1px solid #2a2a2a;*/
}

#subhead h5 {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: normal;
	letter-spacing: 0.05em;
}

#pages { 
	padding-top: 7px;
	float: right;
	text-align: right;
}

#pages a,
#project .links a {
	display: inline-block;
	padding: 1px 8px;
	margin-left: 10px;
	background: #00deff;
	-webkit-border-radius: 25px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-border-radius: 25px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
#pages a {
	color: #111;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.17);
}
#project .links a {
	background: rgba(0, 0, 0, 0.35);
	
}

#pages a:hover,
#project .links a:hover {
	text-decoration: none;
	background: rgba(47, 47, 59, 0.75);
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

#pages a:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#f20), to(#f50));
}

#nav {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	right: 50px;
	background: rgba(0, 0, 64, 0.95);
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	
	-webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1);
}

#index_hero {
	position: relative;
	padding: 10px 10px 10px;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 50px;
/*	background: rgba(29, 29, 31, 1);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
*/}

#index_hero .grid_12 {
	position: relative;
}

#index_hero #loader {
	position: absolute;
	left: 550px;
	top: 40%;
	display: none;
}

#we_can_be_heroes ul, #we_can_be_heroes li {
	height: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#we_can_be_heroes li {
	position: absolute;
	left: 10px;
	top: 0px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
	background: rgba(255, 255, 255, 0.08);
}

#we_can_be_heroes li .details {
	position: absolute;
	left: -2px;
	bottom: 110px;
	padding: 12px;
	padding-right: 25px;
/*	background: rgba(0, 0, 0, 0.75);*/
	background: rgba(255, 255, 255, 0.95);
	color: #000;
	
/*	-webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);*/
}

#we_can_be_heroes .details h2, #we_can_be_heroes .details p {
	margin-bottom: 0;
}
#we_can_be_heroes .details h2 {
	display: inline-block;
	color: #000;
}

#project {
	position: relative;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
	padding-bottom: 20px;
}

#project h1 {
	margin-bottom: 0;
}

#images, #image_view ul, #projects {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#images {
	margin-bottom: 5px;
}

#images li, #image_view li {
	margin: 0;
	padding: 0;
}

#images li {
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;
}

#image_view {
	position: relative;
	min-height: 500px;
}

#image_view li {
	position: absolute;
	top: 0;
	left: 0;

}

#image_view li img {
/*	border: 10px solid #fff;*/
/*	-webkit-border-radius: 5px;*/
/*	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}

#image_view_nav {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	vertical-align: middle;
}

#image_view_nav a {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);

	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12);
	
	text-shadow: 0 1px 0 #777;
}

#image_view_nav a span {
	display: inline-block;
	padding-top: 230px;
}

#image_view_nav a:hover {
	text-decoration: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35);

	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
	background: -moz-linear-gradient(top center, #252525, #141414);
}

#image_view_nav a:active {
	text-shadow: none;
	text-decoration: none;
/*	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15);
*/	
	background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#999));
	background: -moz-linear-gradient(bottom center, #252525, #141414);
}

#image_view_nav .next {
	right: 0;
}

#image_view_nav .prev {
	left: 0;
}

#projects li {
}

#projects .project {
	position: relative;
	background: #222;
	background: -moz-linear-gradient(top, #202020 0%, #282828 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#282828)); /* webkit */
	padding: 10px;
	margin-bottom: 40px;
/*	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
*/
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	
	-webkit-border-radius: 2px;
}

#projects .project:after {
z-index: -1;
position: absolute;
background: transparent;
width: 70%;
height: 55%;
content: '';
right: 18px;
bottom: 15px;
-webkit-transform: skew(15deg) rotate(5deg);
-webkit-box-shadow: 5px 11px 6px rgba(0, 0, 0, 0.25);
-moz-transform: skew(15deg) rotate(5deg);
-moz-box-shadow: 6px 12px 8px rgba(0, 0, 0, 0.25); 
}

#projects .project:before {
z-index: -2;
position: absolute;
background: transparent;
width: 70%;
height: 55%;
content: '';
left: 18px;
bottom: 15px;
-webkit-transform: skew(-15deg) rotate(-5deg);
-webkit-box-shadow: -5px 11px 6px rgba(0, 0, 0, 0.25);
-moz-transform: skew(-15deg) rotate(-5deg);
-moz-box-shadow: -6px 12px 8px rgba(0, 0, 0, 0.25); 
}

#projects .project img {
	width: 278px;
	border: 1px solid #1d1d1d;
	background: rgba(255, 255, 255, 0.15);
}

#projects .project .project_info {
	position: relative;
}

#projects .project .project_info h3 {
	margin-bottom: 0;
}

#projects .project .project_info .client,
#projects .project .project_info .category {
	color: #888;
	font-size: 12px;
}

#projects .project .project_info .category {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0;
} 

.image_placeholder {
	height: 70px;
	width: 70px;
	background: rgba(0, 0, 0, 0.25);
}

li.image {
	position: relative;
}

li.image p {
	position: absolute;
	bottom: 10px;
	left: 5px;
	width: 270px;
	margin: 0;
	padding:10px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-size: 125%;
	font-weight: bold;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#project_info {
/*	position: fixed;
	top: 90px;
	width: 300px;
*/
	position: relative;
}

#project_info #description {
	-webkit-column-count: 2;
	-moz-column-count: 2;
}

#project_images {
	margin-left: 330px;
	margin-bottom: 75px;
}

#project_images ul, #project_images li {
	padding: 0;
	margin: 0;
}

#project_images li {
	margin-bottom: 30px;
/*	border: 4px solid #fff;*/
}

#project_images img {
	
}

#project_info_overlay {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	height: 300px;
}

#project_info_overlay_description {
	width: 25%;
	position: absolute;
	top: -5px;
	left: 0;
	background: rgba(0, 0, 0, 0.85);
	padding: 10px 15px;
	height: 290px;
	-webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.7);
}

#worked {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#category {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#project .links ul,
#project .links li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#project .links a {
	display: block;
	margin-left: -8px;
	margin-bottom: 10px;
	font-weight: bold;
}

#social {
	margin-top: 40px;
	margin-bottom: 50px;
	padding-top: 20px;
	border-top: 1px solid #2a2a2a;
	border-bottom: 1px solid #2a2a2a;
	text-align: center;
}

#social a {
	color: rgba(255, 255, 255, 0.5);
	text-shadow: none;
}

/* Page Styles */
#page {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", sans-serif;

	font-size: 15px;
	line-height: 1.8;
	letter-spacing: 0.07em;
	margin-bottom: 200px;
}

/* Admin */
#image_sorter {
	background: rgba(255, 255, 255, 0.05);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 30px 0;
	padding: 5px;
	position: relative;
}

#image_sorter_hide {
	position: absolute;
	right: 5px;
	top: 13px;
	font-size: 10px;
}

#image_sorter h5 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.dashboard_model {
	background: rgba(0, 0, 0, 0.25);
	padding: 5px 10px 10px;
	margin-bottom: 20px;
	
	-webkit-border-radius: 5px;
}

.dashboard_model ul, .dashboard_model li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dashboard_model li {
	padding: 7px 5px;
}

.dashboard_model li:nth-child(odd) {
	background: #161d28;
}

.dashboard_placeholder {
	background: #000 !important;
	height: 50px;
}
