<%= javascript "project" %>
<% title @project.name %>


<% if current_user %>
	<% content_for :nav do %>
		| <strong><%= link_to 'Edit Project', edit_project_path(@project) %></strong>
	<% end %>
<% end %>

<div id="single">
<%= render :partial => 'project' %>
</div>
