$("#content_box").html("<%= escape_javascript(render(:partial => "project")) %>");

function updateNavHeight(slide) {
	$("#image_view_nav a").css("height", slide.find("img").height());
}

<% if @images.length > 1 %>

$(function() {
	var firstSlide = $("#image_view li:first");
	var lastSlide = $("#image_view li:last");

	$("#image_view li").hide();
	
	firstSlide.show();
	firstSlide.addClass("visible");

	$("#image_view_nav a.next").click(function(e) {
		var current = $("#image_view li.visible");
		var next = current.next();
	
		$("#image_view li").removeClass("visible");
	
		if (next.length == 0) {
			// loop back
			next = firstSlide;
		}
	
		next.addClass("visible");
		$("#image_view li").fadeOut('fast', function(e) {
			updateNavHeight(next);
		});
		next.fadeIn('fast');
	
		e.preventDefault();
	});

	$("#image_view_nav a.prev").click(function(e) {
		var current = $("#image_view li.visible");
		var previous = current.prev();
	
		$("#image_view li").removeClass("visible");
	
		if (previous.length == 0) {
			// loop back
			previous = lastSlide;
		}
	
		previous.addClass("visible");
		$("#image_view li").fadeOut('fast', function(e) {
			updateNavHeight(previous);
		});
		previous.fadeIn('fast');
	
		e.preventDefault();
	});

});
<% end %>

//$(function() {
// var currentId;
// 
// var id = currentId = $("#images li").first().attr("data-id");
// var href = document.location.href.replace(/^.*#/, '');
// $.getJSON(href + "/images/" + id, function(data) {
// 	$("#image_view").append('<li class="image_'+ data.image.id +'"><img src="' + data.image.image.url +'" /></li>')
// });
// 
// $("#images li a").live("click", function(e) {
// 	var id = $(this).parent().attr("data-id");
// 	
// 	if (id == currentId) {
// 		e.preventDefault();
// 		return;
// 	}
// 	
// 	if ($("#image_view").has(".image_" + id).length == 0) {
// 		$.getJSON(href + "/images/" + id, function(data) {
// 			$("#image_view li").fadeOut('slow');
// 			$("#image_view").append('<li class="image_'+ data.image.id +'"><img src="' + data.image.image.url +'" /></li>').fadeIn('slow');
// 		});
// 	} else {
// 		$("#image_view li").fadeOut('fast');
// 		$("#image_view li.image_" + id).fadeIn('fast');
// 	}
// 	
// 	currentId = id;
// 	
// 	e.preventDefault();
// });

//$("#image_view").css("height", $("#image_view li:first").height());
//$("#index_hero").css("height", $("#image_view").height());

//});
